*{
    padding: 0;
    margin: 0;
}
.parallax {
  background-image: url(https://cdn-useast1.kapwing.com/static/templates/crying-cat-meme-template-regular-096fc808.webp);
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
    background-color: black;
    height: 500px;
    color:whitesmoke;
    font-size: 20px;
}
.eye{
    background-image: url(https://cdn-useast1.kapwing.com/static/templates/monkey-looking-away-meme-template-regular-772200f4.webp);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

